#summary-content {
  font-size: 1.25rem;
  line-height: 1.2;
}

.titlebar {
  border-bottom: 3px dotted pink;
}

.sidebar-header {
  border-bottom: 1px solid;
  margin-top: -20px;
}

.sidebar-content li {
  border-bottom: dashed 1px #000;
}

@media only screen and (max-width: 600px) {
  iframe.blog-video {
    width: 400px;
    height: 250px;
  }
}
