.drop-menu {
  background-color: rgb(4, 145, 102);
  width: 210px;
  height: 25vh;
  position: fixed;
  right: 2rem;
  top: 4.3rem;
  display: none;
  border-radius: 2px;
}

.drop-menu.active {
  display: flex;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 40px;
}

.nav-text a {
  text-decoration: none;
  color: aliceblue;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 3px;
}

.nav-text a:hover {
  background-color: aliceblue;
  color: rgb(3, 119, 84);
}
