.nav_bar {
  width: 100%;
  border-bottom: 2px black solid;
  background-color: #264773;
  margin: auto;
  margin-top: 3rem;
  padding: 0 10%;
  margin-bottom: 15rem;
}

.nav_bar_content > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.nav_bar_content_main ~ li,
p {
  margin: 0 1rem 0 1rem;
  width: fit-content;
  padding: 1.3rem 0;
}
.nav_bar_content_main > a:nth-child(2) {
  margin-left: 1rem;
}

.nav_bar_content_main {
  display: flex;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  align-items: center;
}
.nav_bar_content_side {
  display: flex;
}

.dropdown:hover {
  background-color: #4a678c;
}

.dropdown:hover .sub_nav_bar {
  visibility: visible;
}

.sub_nav_bar {
  background-color: white;
  box-shadow: 1px 2px 5px grey;
  padding: 1rem 0;
  display: grid;
  position: absolute;
  grid-template-columns: repeat(4, 200px);

  width: fit-content;
  visibility: hidden;
  color: black;
  /* border: 1px solid red; */
}

.sub_nav_bar_top {
  padding: 1rem;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 2px solid;
  grid-column: 1/5;
  justify-content: space-between;
  height: fit-content;
  /* border: 1px solid blue; */
}
/* .sub_nav_bar_bottom {

  position: absolute;
  grid-template-columns: repeat(4, 200px);
} */

.sub_nav_bar > li {
  padding: 0.3rem;
  margin: auto;
}

.button {
  margin: auto 1rem;
  padding: 0.3rem 0.8rem;
  text-align: center;
  font-size: 1rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
}
.button:hover {
  color: white;
  background-color: transparent;
  cursor: pointer;
}
* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
