/*Foot Menu*/
.footer {
  clear: both;
}

.footer a {
  color: #fff;
  text-decoration: none;
  line-height: 1.8;
}

.footer a:hover {
  border-bottom: 1px solid rgb(4, 145, 102);
}

.footer--top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 85%;
  border-bottom: 1px dashed #727272;
}

.menu {
  border-right: 1px solid #727272;
}

.active {
  background-color: #1e2c3f;
  color: rgb(4, 145, 102);
}

/* the right most menu has no border */
.menu.right {
  border-right: none;
}

/* Bottom Footer */
.footer--bot {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  max-width: 85%;
}

#OU-logo {
  max-height: 60px;
}

.social li {
  min-width: 82px;
  text-align: center;
  display: inline-block;
}
.social li a {
  color: #fff;
  text-decoration: none;
}
.social li a:hover {
  border-bottom: none;
  color: rgb(4, 145, 102);
}
/* .social li i {
  font-size: 50px;
} */

@media only screen and (max-width: 1080px) {
  .footer--top,
  .footer--bot {
    max-width: 100%;
  }
  /*Bottom Footer*/
  #OL-logo {
    margin-left: 0px;
  }
}

/*Mobile*/
@media only screen and (max-width: 600px) {
  .footer--top {
    display: block;
    max-width: 100%;
    border-bottom: none;
  }
  .menu {
    padding-left: 0;
    border-right: none;
  }
  .menu_header {
    padding: 15px 30px;
    margin-bottom: -20px;
    background-color: #1e2c3f;
  }
  ul.list-item {
    max-height: 0;
    overflow: hidden;
    padding-left: 30px;
  }

  /*Bottom Footer*/
  ul.social {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .social li a {
    color: #fff;
  }
  .social li a:hover {
    border-bottom: none;
    color: #fff;
  }
  .footer--bot .logo {
    text-align: center;
  }
}
