.App {
  text-align: center;
}

.card img {
  border-bottom-left-radius: 0%;
}

.card {
  margin: 0.25rem auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.card h1 {
  font-size: 1.5rem;
}

article {
  padding: 0.25rem 5%;
}

body {
  background-color: #e6eaed;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  border-color: azure;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
}

progress[value] {
  height: 12px;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  border-radius: 5px;
  background-color: #bee6de;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.hidden a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
