.dark-blue {
  color: #1f253d;
}
.bg-dark-blue {
  background-color: #1f253d;
}
.b--dark-blue {
  border-color: #1f253d;
}

.hover-dark-blue:hover,
.hover-dark-blue:focus {
  color: #1f253d;
}

.hover-bg-dark-blue:hover,
.hover-bg-dark-blue:focus {
  background-color: #1f253d;
}
